//
// GLOBAL CSS
@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,700|Vollkorn:400,700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $vollkorn;
	font-size: 14px;
	line-height: 1.5;
	@include pad-and-bigger{
		font-size: 16px;
	}
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	@include desktop-and-bigger {
		padding-top: 80px; // Pour le menu
	}
}

.container {
	max-width: calc(#{$container-width} - 40px);
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 50px;
    padding-bottom: 50px;
    @include pad-only{
        padding-right: 25px;
        padding-left: 25px;
    }
	@include desktop-and-bigger {
		padding-right: 20px;
		padding-left: 20px;
		margin-left: auto;
		margin-right: auto;
	}
}

.bigTitle{
	font-size: 45px;
	font-family: $lobster;
	margin-bottom: 0.8rem;
	color: $black;
	text-transform: uppercase;
	@include desktop-and-bigger {
		font-size: 50px;
	}
}

.title {
	font-size: 22px;
	font-family: $lobster;
	margin-bottom: 0.8em;
	color: $light-red;
	@include desktop-and-bigger {
		font-size: 26px;
	}
}

.paragraph {
	font-size: 14px;
	font-family: $vollkorn;
	margin-bottom: 0.8em;
	@include desktop-and-bigger {
		font-size: 16px;
	}
}

button, .button {
	padding: 5px 13px;
	border: solid $black 1px;
	background-color: $button;
	cursor: pointer;
	outline: 0!important;
	min-width: 100px;
	text-align: center;
	color: initial;
	text-decoration: initial;

	&:hover{
		background-color: $light-orange;
	}

	&:active, &:focus{
		background-color: $light-red;
	}
}

input[type="text"], .inputText {
	padding: 5px 13px;
	border: solid $black 1px;
	background-color: $button;
	outline: 0!important;
	min-width: 100px;
}

textarea, .textarea {
	padding: 5px 13px;
	border: solid $black 1px;
	background-color: $button;
	outline: 0!important;
	resize:vertical;
	width: 100%;
	height: 100px;
	min-height: 50px;
}

// Pour les animations de scroll
.animationFromLeft {
	animation: fromLeft 1s cubic-bezier(0.16, 0.71, 0.18, 0.92);
}
.animationFromRight {
	animation: fromRight 1s cubic-bezier(0.16, 0.71, 0.18, 0.92);
}

@include desktop-and-bigger {
	[data-scrollAnimation='fromLeft'] {
		transform: translateX(-95vw);
	}
	[data-scrollAnimation='fromRight'] {
		transform: translateX(95vw);
	}
}

@keyframes fromLeft {
	0% {
		transform: translateX(-95vw);
	} 100% {
		transform: translateX(0);
	}
}

@keyframes fromRight {
	0% {
		transform: translateX(95vw);
	} 100% {
		transform: translateX(0);
	}
}

// TODO: Pour gérer le margin des ancres : scroll-margin-top


// Pour envoyer les formulaires
.submit-progress {
	min-width: 250px;
	color: transparent;
	position: relative;
	overflow: hidden;
	cursor: initial;
}

.submit-progress:hover {
	background-color: $button;
}

.submit-progress:after {
	content: "";
	background: $light-red;
	position: absolute;
	top: -5%;
	left: -100%;
	height: 110%;
	width: 100%;
	transform: translateX(0);
	animation: fill 3s linear forwards;
}

@keyframes fill {
	20% {
		transform: translateX(0);
	}
	96% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(100%);
	}
}
// Fin pour envoyer les formulaires


#presentation, #representations, #membres, #photos, #valeurs, #presse {
	@include desktop-and-bigger {
		scroll-margin-top: 120px;
	}
}