.Date{
    background: linear-gradient(to right, $white 50%, $nuance-grise-2 50%);
    margin-bottom: 80px;

    &-container{
        background-color: $nuance-grise-2;

		@include desktop-and-bigger {
			display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 40px;
		}
    }

    &-left{
        margin-bottom: 20px;
        @include desktop-and-bigger{
            margin-bottom: 0;
        }
    }

    &-list{
        display: flex;
        flex-direction: column;
    }

    &-listItem{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: center;
        column-gap: 15px;
        border-top: solid $black 1px;
        padding: 10px;

        @include pad-only{
            padding: 10px 20px;
        }

        @include pad-and-bigger{
            grid-template-columns: 1fr 3fr 1fr;
        }

        &:last-child{
            border-bottom: solid $black 1px;
        }
    }

    &-street{
        display: flex;
        flex-wrap: wrap;
    }

    &-right{
        display: flex;
        height: 400px;

        @include desktop-and-bigger {
            position: relative;
        }
    }

    &-picture{
        height: 100%;
        width: 40%;
        object-fit: cover;

        @include desktop-and-bigger {
            width: auto;
            height: calc(100% + 150px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
			box-shadow: 40px -20px $light-grey, 20px 20px 20px rgba(0, 0, 0, 0.25);
		}
    }

    &-pictureMobile{
        height: 100%;
        width: 60%;
        object-fit: cover;

        @include desktop-and-bigger{
            display: none;
        }
    }
}