.Footer{
    background-color: $nuance-footer;
    width: 100%;

    &-container{
        display: grid;
        
        @include desktop-and-bigger {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 70px;
        } 

    }
    &-rubrique1, &-rubrique2{
        margin-bottom: 50px;
        @include desktop-and-bigger {
			margin-bottom: 0px;
		}
    }
}