.Medias {
	background: linear-gradient(to right, $nuance-grise-2 50%, $white 50%);
	margin-bottom: 80px;

	&-container {
		background-color: $nuance-grise-2;
		overflow: hidden;
	}

	&-slideContainer {
		width: calc(100% * 3 + 200px);
		display: flex;
		justify-content: space-between;
		animation-name: slider;
		animation-duration: 10s;
		animation-iteration-count: infinite;
	}

	&-slide {
		width: calc((100% - 200px) / 3);
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}


	&-slideChildContainer {
		background-color: $white;
		width: calc(50% - 20px);
		margin-bottom: 20px;
		box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.25);
		@include pad-and-bigger {
			width: calc(33% - 30px);
		}
		@include desktop-and-bigger {
			width: calc(33% - 50px);
			margin-bottom: 40px;
		}
	}

	&-slideTextContainer {
		display: none;
		@include pad-and-bigger {
			padding: 5px 10px;
			display: initial;
		}
		@include desktop-and-bigger {
			padding: 10px 15px;
		}
	}

	&-slideImageContainer {
		position: relative;
		overflow: hidden;
	}

	&-slideImage {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&-slideLegend {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $white; // TODO: Ajouter transparence
		transition-duration: 0.3s;
		opacity: 0;
		transform: translateY(100%);
		max-height: 100%;
		padding: 5px 10px;
		@include desktop-and-bigger {
			padding: 10px 15px;
		}
	}
	&-slideImageContainer:hover &-slideLegend,
	&-slideImageContainer:active &-slideLegend {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slider{
	0% {
		transform: translateX(0);
	}

	27% {
		transform: translateX(0);
	}

	32% {
		transform: translateX(calc((100% - 200px) / 3 * -1 - 100px));
	}

	59% {
		transform: translateX(calc((100% - 200px) / 3 * -1 - 100px));
	}

	64% {
		transform :translateX(calc( 2 * (100% - 200px) / 3 * -1 - 200px));
	}

	91% {
		transform :translateX(calc(2 * (100% - 200px) / 3 * -1 - 200px));
	}

	100% {
		transform :translateX(0);
	}
}