.Members {
	background-color: $nuance-grise-3;
	margin-bottom: 80px;
	@include desktop-and-bigger {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 40px;
	}

	&-left {
		margin-bottom: 20px;
		@include desktop-and-bigger {
			margin-bottom: 0;
		}
	}

	&-headContainer {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 20px;
	}

	&-head {
		border-radius: 50%;
		width: 40px;
		box-shadow: 0 0 0 0 $light-red, 0 0 0 0 $light-orange;
		transition: 0.4s;
		cursor: pointer;
	}

	// L'image selectionné
	&-head.activeHead {
		box-shadow: 6px 5px 0 2px $light-red, 0 0 0 14px $light-orange;
	}

	&-contentContainer {
		overflow: hidden;
	}

	&-content {
		transform: translateX(200px);
		opacity: 0;
		transition-duration: 0.5s;
	}

	.hideTab {
		display: none;
	}

	.activeTab {
		transform: translateX(0);
		opacity: 1;
	}

	&-right {
		@include pad-only {
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			margin-bottom: 20px;
		}
		@include desktop-and-bigger {
			box-shadow: -35px -35px $grey, 20px 20px 20px rgba(0, 0, 0, 0.25);
		}
	}

	&-picture {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
