.Preview {
	margin-bottom: 80px;
	background-color: $button;
	height: 100vh;
	@include desktop-and-bigger {
		height: calc(100vh - 80px);
	}

	&-container {
		display: grid;
		grid-template-rows: auto 1fr;
		row-gap: 20px;
		height: 100%;
		align-items: center;
		@include desktop-and-bigger {
			grid-template-rows: 1fr;
			grid-template-columns: 40% 60%;
			row-gap: 0;
			column-gap: 20px;
		}
	}

	&-left {
		text-align: center;
	}

	&-right{
		background : url('assets/fondheader.png');
		background-size: contain;	
		background-repeat: no-repeat;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
		justify-self: center;
	}
}
